@model IEnumerable<MusicStore.Models.Song>

@{
	ViewBag.Title = "Index";
}

<h2>Index</h2>
Avg is: @Model.Average(s => s.Rate)

<p>
	@Html.ActionLink("Create New", "Create")
</p>
<div id="gridContent">
	@Html.Partial("_Grid", Model)
</div>

@section Scripts {
	<script>

		$(document).on('click', '.rateit', function (e) {
			var ri = $(this);
			var value = ri.rateit('value');
			var ID = ri.data('id');

			//zapytanie do serwera
			$.ajax({
				url: '/Songs/RateIt',			//url obsługujący oceny
				data: { id: ID, value: value },	//dane przesyłane
				type: 'POST',					//typ zapytania
				success: function (data) {		//callback w przypadku sukcesu (HTTP 2xx)

					$('#gridContent').load('/Songs/GridSongs');
				},
				error: function (jxhr, msg, err) {	//callback w przypadku błędu
					alert('Error');
				}
			});
		});
	</script>

}